In [141]:
import pandas as pd
import datetime as dt
import numpy as np

In [142]:
#Read from .txt in Tradestation format
df = pd.read_csv("D:\Stocks\LocalData\SPY_Daily.txt")

#Rename columns
df = df.rename(columns={
    'Open': 'open',
    'High': 'high',
    'Low': 'low',
    'Close': 'close',
    'Vol': 'volume'})

#Convert strings of date and time to datetime format
df["datetime"] = df["Date"] + " " + df["Time"]
df["datetime"] =pd.to_datetime(df["datetime"])

df['ticker'] = 'SPY'

#Shift 1min to the left for proper higher timeframe generation
df= df.set_index('datetime')

#drop unneccessary columns
df = df.drop(columns=['Date', 'Time', 'OI'])
df

                       open    high     low   close     volume ticker
datetime
1993-02-02 16:00:00   44.23   44.38   44.13   44.34     201300    SPY
1993-02-03 16:00:00   44.41   44.84   44.38   44.82     529400    SPY
1993-02-04 16:00:00   44.97   45.10   44.88   45.00     531500    SPY
1993-02-05 16:00:00   44.97   45.06   44.73   44.97     492100    SPY
1993-02-08 16:00:00   44.97   45.13   44.92   44.98     596100    SPY
...                     ...     ...     ...     ...        ...    ...
2022-06-15 16:00:00  377.36  383.90  372.12  379.20  125670667    SPY
2022-06-16 16:00:00  370.51  370.94  364.08  366.65  134473689    SPY
2022-06-17 16:00:00  365.51  369.38  362.17  365.86  111114644    SPY
2022-06-21 16:00:00  371.89  376.53  371.81  375.07   76812900    SPY
2022-06-22 16:00:00  370.62  378.72  370.18  374.39   89950254    SPY

[7398 rows x 6 columns]

### Indicator Creation

In [143]:
#Create custom indicators
ema9 = lambda x: x.ewm(span=9, min_periods=9, adjust=False, ignore_na=False).mean()
sma10 = lambda x: x.rolling(10).mean()
sma20 = lambda x: x.rolling(20).mean()
sma50 = lambda x: x.rolling(50).mean()
sma100 = lambda x: x.rolling(100).mean()
sma150 = lambda x: x.rolling(150).mean()
sma200 = lambda x: x.rolling(200).mean()
test = lambda x: x + 2

In [144]:
df = df.assign(ema9=df.groupby('ticker')['close'].apply(ema9))
df = df.assign(sma10=df.groupby('ticker')['close'].apply(sma10))
df = df.assign(sma20=df.groupby('ticker')['close'].apply(sma20))
df = df.assign(sma50=df.groupby('ticker')['close'].apply(sma50))
df = df.assign(sma100=df.groupby('ticker')['close'].apply(sma100))
df = df.assign(sma150=df.groupby('ticker')['close'].apply(sma150))
df = df.assign(sma200=df.groupby('ticker')['close'].apply(sma200))
df = df.dropna(subset=['sma200'])

In [145]:
df['oa_ema9']= df['open'] > df['ema9']
df['oa_sma10']= df['open'] > df['sma10']
df['oa_sma20']= df['open'] > df['sma20']
df['oa_sma50']= df['open'] > df['sma50']
df['oa_sma100']= df['open'] > df['sma100']
df['oa_sma150']= df['open'] > df['sma150']
df['oa_sma200']= df['open'] > df['sma200']

### Candle parameters

In [146]:
# General Candle Info
df['OpenCloseRange$'] = df['close'] - df['open']
df['OpenCloseRange%'] = round(df['OpenCloseRange$'] / df['open'] * 100, 2)
df['GreenCandle'] = df['open'] < df['close']
df['RedCandle'] = df['open'] > df['close']
df['DojiCandle'] = df['open'] == df['close']
df['NextGreen'] = df.shift(-1)['GreenCandle']
df['NextRed'] = df.shift(-1)['RedCandle']
df['PrevGreen'] = df.shift()['GreenCandle']
df['PrevRed'] = df.shift()['RedCandle']
df = df.dropna()
#Replace True/False with 1/0 for Excel processing
df.replace({False: 0, True: 1}, inplace=True)

### Gap Parameters

In [147]:
df.loc[df['open'] >= df.shift()['close'], 'GapDir'] = "Up"
df.loc[df['open'] < df.shift()['close'], 'GapDir'] = "Down"
df['Gap$'] = df['open'] - df.shift()['close']
df['Gap%'] = round(df['Gap$'] / df.shift()['close'] * 100, 2)

In [148]:
df = df.dropna()
df.to_csv("SPYGapData.csv")